<mat-card class="why-choose-me-card mat-elevation-z4">
  <mat-card-header>
    <mat-icon mat-card-avatar class="header-icon">track_changes</mat-icon>
    <mat-card-title i18n="@@whyChooseMeTitle">
      Perché scegliere me?
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p i18n="@@whyChooseMeIntro">A differenza delle grandi agenzie, con me non dovrai:</p>
    <ul>
      <li i18n="@@whyChooseMeNegative1"><mat-icon class="negative-icon">cancel</mat-icon> Aspettare giorni per una semplice risposta</li>
      <li i18n="@@whyChooseMeNegative2"><mat-icon class="negative-icon">email</mat-icon> Inviare decine di email per ogni richiesta</li>
      <li i18n="@@whyChooseMeNegative3"><mat-icon class="negative-icon">person_off</mat-icon> Parlare con operatori diversi ogni volta</li>
    </ul>

    <p class="conclusione" i18n="@@whyChooseMePositive1">
      <mat-icon class="positive-icon">lightbulb</mat-icon> Affidandoti a me, parli <strong>direttamente</strong> con chi sviluppa il tuo progetto — sia frontend che backend.
      <br />
      Hai un dubbio? Mi chiami. Serve una modifica? Mi scrivi. Ci vediamo di persona? Nessun problema.
    </p>

    <p class="conclusione" i18n="@@whyChooseMePositive2">
      <mat-icon class="positive-icon">rocket_launch</mat-icon> Supporto rapido, diretto, umano.
    </p>
  </mat-card-content>
</mat-card>
